---
title: Improv Masters
body_class: index
index_options: members
---

= partial('./layouts/header')

.jumbotron.jumbotronSpecial
  .container.firstState.placeUnder
    .wrapper
      .greetings
        %h1 Members' Area
        %h3#fridayHeading
        %p
          %table
            %tbody#roster
      .encloser
        .nonfloatingForm
          %h3 Sign-up for a role!
          %form.form-horizontal#forBrace{method:'POST', action:''}
            %table
              %tbody  
                %tr.form-group
                  %td 
                    %label.control-label{for: "signupName"} Name
                  %td 
                    %input#signupName.form-control{name:'Name', placeholder: "", type: "", required:'true'}/
                %tr.form-group.form-group-sm
                  %td
                    %label.control-label{for: "signupEmail"} Email
                  %td 
                    %input#signupEmail.form-control{name:'_replyto', placeholder: "example@gmail.com", type: "email", required:'true'}/
                %tr.form-group.form-group-sm
                  %td
                    %label.control-label{for:'signupRole'} Role
                  %td
                    %select.form-control#signupRole{name:'Requested_role_this_Friday', required:'true' }
                      %option{disabled: true, selected: true, value: "", style:"display: none;"} Select...
                      %option{value: "Grammarian"} Grammarian
                      %option{value: "Improvmaster"} Improvmaster
                      %option{value: "Speaker"} Speaker
                      %option{value: "Speech Evaluator"} Speech Evaluator
                      %option{value: "Timer"} Timer 
                      %option{value: "Toastmaster"} Toastmaster 
            .buttonHolder
              %button.btn.btn-primary{type:'submit'} Submit
            %span.help-block You will receive an email when confirmed.

%section.block1.placeOver
  .container
    .row
      .col-xs-12
        %h1 Meeting Roles
        .row
          .col-md-9
            %ul.roles
              %li 
                %b Toastmaster.
                The Toastmaster is the meeting’s director and host. This role won't usually be assigned until the participant is thoroughly familiar with the club and its procedures. 
              %li 
                %b Improvmaster.
                The Improvmaster is the emcee during the improv part of the meeting. This role also requires familiarity with the club and its procedures. 
              %li 
                %b Speaker
                The center of every Toastmasters meeting. (Well, in addition to the improv games.)
              %li 
                %b Evaluator.
                Provides both verbal and written evaluations for speakers using the guide in the manual.
              %li 
                %b Grammarian.
                Introduces the word of the day and comments on language usage during the course of the meeting.  Furthermore, the grammarian notes any word or sound used as a crutch by anyone who speaks during the meeting. (Words may be inappropriate interjections, such as <i>and, well, but, so</i> and <i>you know.</i> Sounds may be <i>ah, um</i> or <i>er.</i>)
              %li 
                %b Timer.  
                Responsible for monitoring time for each meeting segment and each speaker. Also, the timer operates the timing signal, indicating to each speaker how long he or she has been talking.
              %li
                %b Table Topic Master.
                The Topicsmaster will state a question or topic briefly and then call on a respondent for an impromptu talk. Each respondent receives a different topic or question and participants are called on at random.

          .col-md-3.hidden-xs.hidden-sm
            .umbrella
              .onpaper.effect2
                %p
                  %b YOU ARE HERE
                %ul
                  %li
                    %span Toastmasters International
                    %span 13,500 clubs 
                  %li
                    %span Region 10
                    %span 1,225 clubs
                  %li
                    %span District 1
                    %span 160 clubs
                  %li
                    %span Division F
                    %span 29 clubs 
                  %li
                    %span Area 2
                    %span 5 clubs
                  %li
                    %span ImprovMasters
                    %span our club
                  %li
                    %span YOU

%section.block2
  .container
    .row
      .col-xs-12
        %h1 Competent Communication
        .row
          .col-md-9
            %p
              The 
              %b> Competent Communication
               manual (often called the 
              %i> basic manual
              ) helps you to develop the basic skills that you need to prepare and present an effective speech. Always refer to your manual for any discrepancies.
            %p
            = partial('./layouts/ccm')
            
          .col-md-3.hidden-xs.hidden-sm
            %img{src:'./images/competent.png', alt:'Competent Communication Manual'}

          


%section.block3
  .container
    .row
      .col-xs-12
        %h1 More Improv
        .row
          .col-md-9
            %p Improv is an art. However, it is also a craft. A craft is something that is learned throgh practice, repetition, trial, error and hard work. Much like any other art, skill in improv is acquired over time.
            = partial('./layouts/improvmore')
          .col-md-3.hidden-xs
            %figure
              %img{src:'./images/improvImage.jpg', alt:'ImprovMasters'}
              %figcaption
                The classic stage of 
                %a{href:'http://hollywood.improv.com/', alt:'', target:'_blank'} Hollywood Improv

= javascript_include_tag "./javascripts/inject_toastmaster_email"
= partial('./layouts/footer')
